<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{ title }} - Name here</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="all" />
    {% block css %}{% endblock %}
</head>
<body class="wrapper">
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    {% block js %}{% endblock %}
</body>
</html>
